@import "tailwindcss";

body {
  min-width: 280px;
  overflow: hidden;
}

@theme {
  --breakpoint-xs300: 300px;
  --breakpoint-sm500: 500px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}

 